.todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;

    &__header {
        font-size: 24px;
        font-weight: bold;
    }

    &__group {
        font-size: 20px;
        font-weight: bold;

        &--completed {
            color: red;
        }

        &--not-completed {
            color: green;
        }
    }
}