.header {
    width: 100%;
    min-height: 160px;
    background-color: black;
    box-shadow: 5px 2px 15px gray;
    text-align: center;

    &__title {
        font-size: 64px;
        font-weight: 600;
        letter-spacing: .25em;
        color: white;
        margin: 0 auto;
    }
}